
.vscode/settings.json
src/.vscode/c_cpp_properties.json
src/.vscode/settings.json

# Build outputs and test folder
bin/
obj/
tests/
data/DIMACS/
data/RANDOM/
results.txt


#temporary 
partialSol.md

shimizu_bound_fix_prompt.txt
